@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #343a40;
}

.card {
  background-color: #fff;
  width: 300px;
  margin: 100px auto;
  padding: 10px 10px 20px;
  border-radius: 16px;

  position: relative;
}

.card__image img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  box-shadow: 0px 8px 24px #00000066;
  object-fit: cover;
}

.testimonial {
  margin-top: 32px;
  text-align: center;
  padding: 6px;
}

h3 {
  color: #343a40;
}

p {
  hyphens: auto;
  padding: 0px 36px;
  margin-top: 8px;
  font-size: 13px;
  line-height: 1.4;
  color: #495057;
}

.action {
  margin-top: 24px;
}

.action button {
  width: 100%;
  background-color: #e7e8e5;
  border-radius: 10px;
  outline: none;
  border: 0;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  color: #343a40;
}

.controllers {
  margin: 18px 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controllers button {
  border: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: unset;
  border: 0.5px solid #e7e8e5;
}

.controllers svg {
  height: 32px;
  width: 32px;
  stroke-width: 1.8px;
  cursor: pointer;
}

.star {
  position: absolute;
  top: 16px;
  right: 16px;

  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.star svg {
  height: 24px;
}

.like {
  fill: #ffa500;
  stroke: #ffa500;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
